# ==============================================================================
# Database Configuration
# ==============================================================================
# PostgreSQL
PG_DATABASE=watchdog
PG_USER=postgres
PG_PASSWORD=password

# MongoDB
MONGO_USER=root
MONGO_PASSWORD=password
MONGO_DB_NAME=watchdog

# ==============================================================================
# Message Broker Configuration
# ==============================================================================
# RabbitMQ
RABBITMQ_USER=api_user
RABBITMQ_PASSWORD=password
RABBITMQ_VHOST=watchdog

# ==============================================================================
# Admin Tools
# ==============================================================================
# pgAdmin
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=password

# ==============================================================================
# Application Secrets & Settings
# ==============================================================================

JWT_SECRET=change_this_jwt_secret_key_minimum_32_characters